@import 'styles/frontpage.css';
@import 'app.css';
@import 'styles/chatbot.css';
@import 'styles/client.css';

html > body > #root > div{
  min-height: 100vh;

}

html {
  overflow: hidden;
  
}



body {
  margin: 0;
  font-family:Didot, serif;
  overflow: auto;
    background-image: linear-gradient(to bottom,  rgb(183, 237, 255), white);
    width: 100%;
    
}


button {
  background-color: white;
  border:none;
}
button:focus {
  outline:0;
}